<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="LiveConStrIP"
       connectionString="Server=62.219.78.210;Database=site14;Uid=site14;Password=zxc14;"
        providerName="System.Data.SqlClient" />
    <add name="LocalConStr"
        connectionString="Data Source=IZHAR-PC;Initial Catalog=DesignsApps;Integrated Security=True;"
        providerName="System.Data.SqlClient"/>
    <add name="LiveConStrAddress"
     connectionString="Server=sql7.livehosting.local;
       Database=site14;
       Uid=site14;
       Password=zxc14;" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
